<!-- Home-View -->
<h1>MMQQ</h1>
<mat-divider></mat-divider>
<mat-horizontal-stepper #stepper [linear]="true" style="background: rgba(221, 221, 221, 0)">
  <mat-step label="System an sich">
    <p>Das System ist ...</p>
    <div>      
      <table>
        <tr>
            <td></td>       
            <td>{{slider1.value}} /10</td>
        </tr>
        <tr>
          <td><p>unfreundlich</p></td>
          <td><mat-slider #slider1="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl1"></mat-slider></td>
          <td><p>freundlich</p></td>
          <!-- 
            - [(ngModel)]="sl1" is used for two-way-databinding; this value is used in the calculate-function of the component 
            - #slider1 is to get the value of this slider in line 11 with: {{slider1.value}} 
            - tickInterval sets the interval of the ticks, which are shown in the slider
            - thumblabel shows the icon above the slider with the value of the slider inside
          -->
        </tr>
        <tr>    
          <td></td>       
          <td>{{slider2.value}} /10</td>
        </tr>
        <tr>
          <td><p>unsympathisch</p></td>
          <td><mat-slider #slider2="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl2"></mat-slider></td>
          <td><p>sympathisch</p></td>
        </tr>
        <tr>   
          <td></td>        
          <td>{{slider3.value}} /10</td>
        </tr>
        <tr>
          <td><p>fehleranfällig</p></td>
          <td><mat-slider #slider3="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl3"></mat-slider></td>
          <td><p>fehlertolerant</p></td>
        </tr>
      </table>      
    </div>
    <div>     
      <button class="right" mat-stroked-button matStepperNext>Weiter</button>
    </div>
  </mat-step>
  <mat-step label="Gestaltung">
    <p>Die Gestaltung des Systems ist ...</p>
    <div>
      <table>
        <tr>
          <td></td>
          <td>{{slider4.value}} /10</td>
        </tr>
        <tr>
          <td><p>abstoßend</p></td>
          <td><mat-slider #slider4="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl4"></mat-slider></td>
          <td><p>anziehend</p></td>
        </tr>
        <tr>
          <td></td>
          <td>{{slider5.value}} /10</td>
        </tr>
        <tr>
          <td><p>hässlich</p></td>
          <td><mat-slider #slider5="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl5"></mat-slider></td>
          <td><p>schön</p></td>
        </tr>
        <tr>
          <td></td>
          <td>{{slider6.value}} /10</td>
        </tr>
        <tr>      
          <td><p>reizlos</p></td>
          <td><mat-slider #slider6="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl6"></mat-slider></td>
          <td><p>reizvoll</p></td>
        </tr>
        <tr>
          <td></td>
          <td>{{slider7.value}} /10</td>
        </tr>
        <tr>
          <td><p>öde</p></td>
          <td><mat-slider #slider7="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl7"></mat-slider></td>
          <td><p>interessant</p></td>
        </tr>
        <tr>
          <td></td>
          <td>{{slider8.value}} /10</td>
        </tr>
        <tr>
          <td><p>chaotisch</p></td>
          <td><mat-slider #slider8="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl8"></mat-slider></td>
          <td><p>geordnet</p></td>
        </tr>
        <tr>
          <td></td>
          <td>{{slider9.value}} /10</td>
        </tr>
        <tr>
          <td><p>unklar</p></td>
          <td><mat-slider #slider9="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl9"></mat-slider></td>
          <td><p>klar</p></td>
        </tr>
        <tr>
          <td></td>
          <td>{{slider23.value}} /10</td>
        </tr>
        <tr>
          <td><p>störend</p></td>
          <td><mat-slider #slider23="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl23"></mat-slider></td>
          <td><p>helfend</p></td>
        </tr>
      </table>
    </div>    
    <div>
        <button class="left" mat-stroked-button matStepperPrevious>Zurück</button>          
        <button class="right" mat-stroked-button matStepperNext>Weiter</button>
    </div>       
  </mat-step>
  <mat-step label="Interaktion">
      <p>Die Interaktion mit dem Systems ist ...</p>
    <div>
        <table>
            <tr>
                <td></td>
                <td>{{slider24.value}} /10</td>
              </tr>
              <tr>
                <td><p>eintönig</p></td>
                <td><mat-slider #slider24="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl24"></mat-slider></td>
                <td><p>abwechslungsreich</p></td>
            </tr>
            <tr>
              <td></td>
              <td>{{slider10.value}} /10</td>  
            </tr>
            <tr>
              <td><p>holprig</p></td>  
              <td><mat-slider #slider10="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl10"></mat-slider></td> 
              <td><p>flüßig</p></td>       
            </tr>
            <tr>
              <td></td>
              <td>{{slider11.value}} /10</td>
            </tr> 
            <tr>
              <td><p>langsam</p></td>  
              <td><mat-slider #slider11="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl11"></mat-slider></td> 
              <td><p>schnell</p></td> 
            </tr>
            <tr>
              <td></td>
              <td>{{slider12.value}} /10</td>
            </tr> 
            <tr>
              <td><p>beanspruchend</p></td>  
              <td><mat-slider #slider12="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl12"></mat-slider></td> 
              <td><p>schonend</p></td> 
            </tr> 
            <tr>
              <td></td>
              <td>{{slider13.value}} /10</td>
            </tr> 
            <tr>
              <td><p>belastend</p></td>  
              <td><mat-slider #slider13="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl13"></mat-slider></td> 
              <td><p>entlastend</p></td> 
            </tr>
            <tr>
              <td></td>
              <td>{{slider14.value}} /10</td>
            </tr> 
            <tr>
              <td><p>fehlerreich</p></td>  
              <td><mat-slider #slider14="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl14"></mat-slider></td> 
              <td><p>fehlerarm</p></td> 
            </tr> 
        </table>
    </div>
    <div>
        <button class="left" mat-stroked-button matStepperPrevious>Zurück</button>          
        <button class="right" mat-stroked-button matStepperNext>Weiter</button>
    </div>  
  </mat-step>
  <mat-step label="Eingabemöglichkeiten">
      <p>Die verschiedenen Eingabemöglichkeiten ...</p>
      <div>
          <table>
              <tr>
                <td></td>
                <td>{{slider15.value}} /10</td>
              </tr>
              <tr>
                <td><p>sind nachteilig</p></td>
                <td><mat-slider #slider15="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl15"></mat-slider></td>
                <td><p>sind vorteilhaft</p></td>
              </tr>
              <tr>
                <td></td>
                <td>{{slider16.value}} /10</td>
              </tr>
              <tr>
                <td><p>blockieren sich</p></td>
                <td><mat-slider #slider16="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1"  [(ngModel)]="sl16"></mat-slider></td>
                <td><p>ergänzen sich</p></td>
              </tr>
              <tr>
                <td></td>
                <td>{{slider17.value}} /10</td>
              </tr>
              <tr>
                <td><p>behindern sich</p></td>
                <td><mat-slider #slider17="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl17"></mat-slider></td>
                <td><p>unterstützen sich</p></td>
              </tr>
              <tr>
                <td></td>
                <td>{{slider18.value}} /10</td>
              </tr>
              <tr>
                <td><p>sind schlecht zu kombinieren</p></td>
                <td><mat-slider #slider18="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl18"></mat-slider></td>
                <td><p>sind gut zu kombinieren</p></td>
              </tr>
              <tr>
                <td></td>
                <td>{{slider19.value}} /10</td>
              </tr>
              <tr>
                <td><p>arbeiten schlecht zusammen</p></td>
                <td><mat-slider #slider19="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl19"></mat-slider></td>
                <td><p>arbeiten gut zusammen</p></td>
              </tr>
            </table>
      </div>
      <div>
          <button class="left" mat-stroked-button matStepperPrevious>Zurück</button>          
          <button class="right" mat-stroked-button matStepperNext>Weiter</button>
      </div>  
  </mat-step>
  <mat-step label="Rückmeldung">
    <p>Die Rückmeldung des Systems ist ...</p>
      <div>
          <table>
              <tr>
                <td></td>
                <td>{{slider20.value}} /10</td>
              </tr>
              <tr>
                <td><p>hinderlich</p></td>
                <td><mat-slider #slider20="matSlider" thumbLabel min="0" max="10" step="1"  tickInterval="1" [(ngModel)]="sl20"></mat-slider></td>
                <td><p>förderlich</p></td>
              </tr>
              <tr>
                <td></td>
                <td>{{slider21.value}} /10</td>
              </tr>
              <tr>
                <td><p>sinnlos</p></td>
                <td><mat-slider #slider21="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl21"></mat-slider></td>
                <td><p>sinnvoll</p></td>
              </tr>
              <tr>
                <td></td>
                <td>{{slider22.value}} /10</td>
              </tr>
              <tr>
                <td><p>verwirrend</p></td>
                <td><mat-slider #slider22="matSlider" thumbLabel min="0" max="10" step="1" tickInterval="1" [(ngModel)]="sl22"></mat-slider></td>
                <td><p>erklärend</p></td>
              </tr>
            </table>
      </div>
      <div>
          <button class="left" mat-stroked-button matStepperPrevious>Zurück</button>          
          <button class="right" mat-stroked-button matStepperNext>Weiter</button>
      </div>  
  </mat-step>
  <mat-step label="Fertig">
  <p>Sie sind nun fertig mit dem Test.</p>  
  <div class="buttoncontainer">
      <button style="margin:10px;" mat-stroked-button matStepperPrevious>Zurück</button>
      <button style="margin:10px;" mat-stroked-button (click)="stepper.reset()">Eingaben korrigieren</button>
      <button style="margin:10px;" mat-stroked-button (click)="calculate()" (click)="passData()" routerLink="/results">Ergebnisse ansehen</button>  
  </div>     
  </mat-step>            
</mat-horizontal-stepper>
<mat-divider></mat-divider>

