.button-row button,
.button-row a {
  margin-right: 8px;
}
.dialog{
  height:40px;
  width:350px;
  display: flex;
  align-items: center;  
  justify-content: center;
}
.mat-dialog-container {
  background-color: rgba(128, 128, 128, 0);
}
.formcontainer {
  display: flex;
  flex-direction: column;    
}

.formcontainer > * {
  width: 100%;
  min-width: 300px;
}
.buttoncontainer{
  height:40px;
  width:350px;
  display: flex;
  align-items: center;  
  justify-content: center;
}
.button-row button,
.button-row a {
  margin-right: 8px;
}